@import url("https://use.typekit.net/hhc0kaq.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.choice{
    display: flex;
    height: 100vh;
    text-align:left;
    background-size: cover;
    background-position:  center center;
    background-attachment: fixed;
    padding:10rem 0 0 3rem ;
    background-color: #25283D;
}
.choice h1{
    padding-bottom: 2rem;
    font-size: 2rem;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
.choice img{
    height: 60vh;
    margin-left:10rem;
}
@media (max-width: 900px) {
    .illustration {
      display: none;
    }
  }
.choice select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.4rem;
    font-size: 1rem;
    outline: none;
    background-color: #565676;
    width: 270px;
    height: 48px;
    font-size: 18px;
    padding: 13px 20px 13px 12px;
    color: #fff;
    text-indent: 0.01px;
    text-overflow: "";
    border-radius: 5px 5px 0 5px;
}
.choice select::-ms-expand {
    display: none;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.movies-list{
    margin: 1rem 1rem 10rem 1rem;
    padding: 1rem;
    text-align: center;
    max-width: 280px;
    min-height: 300px;
    max-height: 300px;
    transition: 0.2s ease-in-out;
}
.movies-list:hover{
    transform: translateY(0) scale(1.1);
}
.movies-list h1{
    margin-bottom: 1rem;
    cursor: default;
}
.movies-list img{
    height: 360px;
    width: 250px;
    cursor: pointer;
}
.movies-list p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #25283D 2rem solid;
    background-color: #25283D;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    position: relative;
    bottom: 3rem;
    right: 1rem;
    color: #fff;
    cursor: default;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title-default{
    border: #565676 3px solid;
}

button{
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 2rem;
    padding: 10px 12px;
}
.to-top {
    background: #25283D;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#fff;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    z-index: 2;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }
  
  .modal-container{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  .modal-container p{
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

  }
  .modal-container h1{

    margin-left: 2rem;
    padding-top:1.5rem;
    font-family: poppins, sans-serif;
  }
  .modal{
    margin: auto;
    background-color: #25283D;
    width: auto;
    height: auto;
    max-width: 70rem;
  }
  .active-modal{
    display: flex;
    padding: 3rem;
    flex-wrap: nowrap;
    width: auto;

  }

  .active-modal img{
    height: 20rem;
    margin-right: 3rem;
  }
  .fa-xmark{
    color: red;
    font-size: 3rem;
    padding: 0.5rem;
    height: 4rem;
    width: 4rem;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
    margin-left:3rem ;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close{
    display: none;
  }
  @media (max-width: 1000px) {
    .modal{
      flex-wrap: wrap;
      height: auto;
      width: auto;
      margin: auto;
    }
    .active-modal{
      flex-wrap: wrap;
    }
    .active-modal img{
     margin: auto;
     margin-bottom: 1.5rem;
    }
  }
  @media (max-width: 650px) {
    .active-modal img{
      display: none;
    }
  }